.Header{
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    text-align: center;
    font-size: 24px;
    width: 100%;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}